EMAIL_USERNAME=johndoe@gmail.com
EMAIL_PASSWORD=adminpassword
RABBITMQ_HOST=amqp://guest:guest@localhost:5672/
RABBITMQ_NOTIFICATION_QUEUE=notification_queue
RABBITMQ_DEAD_LETTER_QUEUE=dead_letter_queue